//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800;900";
$prefix: prefix- !default;
$baseFontSize: 16px;
$baseFontFamily: "Figtree", sans-serif;
$regularFontWeight: 400;
$mediumFontWeight: 600;
$boldFontWeight: 700;
$extraBoldFontWeight: 800;
$blackFontWeight: 900;

$mobilePadding: (12px / $baseFontSize) * 1rem;
$desktopPadding: 1rem;

// Paths

$imagesPath: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #333333;
$white: #ffffff;
$schoolBusYellow: #ffdf00;
$selectiveYellow: #ffb800;
$supernova: #ffd00e;
$red: #eb0028;

$colors: (
  "black": $black,
  "white": $white,
  "schoolBusYellow": $schoolBusYellow,
  "selectiveYellow": $selectiveYellow,
  "supernova": $supernova,
  "red": $red,
) !default;
